---
import Layout from '../layouts/Layout.astro'
import { Menu } from '../components/Menu'
import { Home } from '../components/Home'
import { Gallery } from '../components/Gallery'
import { HouseInfo } from '../components/HouseInfo'
import { Contact } from '../components/Contact'
import { Opinions } from '../components/Opinions'
import { Footer } from '../components/Footer'
import { Toaster } from 'sonner'
import { MobileMenu } from '../components/MobileMenu'

import '../styles.css'
---

<Layout title="Casa Rural el Rincón">
	<main>
		<Menu client:only="react"/>
		<MobileMenu client:only="react"/>
		<Home />
		<Gallery client:idle />
		<HouseInfo />
		<Opinions client:only="react" />
		<Contact client:visible />
		<Footer />
	</main>
	<Toaster closeButton richColors client:only="react"/>
</Layout>
<script>

	setTimeout(() => {
		const homeCard = document.querySelector('#homeCard')
		const homeImages = document.querySelectorAll('.homeImage')
		const info = document.querySelector('#homeInfo')

		function handleIntersection(entries, observer){
			entries.forEach((entry) => {
				if(entry.isIntersecting) {
					entry.target.classList.add('animate-fadeIn')
					entry.target.classList.toggle('opacity-1')
					entry.target.classList.toggle('opacity-0')
					observer.unobserve(entry.target)
				}
			})
		}

		const observer = new IntersectionObserver(handleIntersection)

		homeImages.forEach(image => observer.observe(image))

		observer.observe(homeCard)
		observer.observe(info)
	}, 400)

</script>