@import "tailwindcss";

@theme {
  --animate-fadeIn: fadeIn 1s ease-in-out forwards;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.font-display {
  font-family: 'Spectral', Georgia, serif;
}
